language: php
sudo: false
php:
  - 5.6
  - 7.0
  - 7.1
  - hhvm

before_script:
  - composer install --dev
  - composer update -o
  
script: phpunit --bootstrap tests/bootstrap.php --configuration phpunit.xml tests
