language: php
php:
  - 5.4
  - 5.5
  - 5.6
  - hhvm

before_script:
  - composer install --dev
  - composer update -o
  
script: phpunit --bootstrap tests/bootstrap.php --configuration phpunit.xml tests